*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{ 
    width: 100%;
    height: 100%;
    background-color: rgb(2, 57, 94);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    padding: 2.625rem 10%;
    width: 100%;
    /* display: flex; */
    /* z-index: 100; */
    background: transparent;

}

.clock{
    padding-left: 80%;
    font-size: 9rem;
}

.seconds{
    font-size: 4rem;
}

.calander{
    font-size: 9rem;
}

.Prayer-times{
    font-size: 9rem;
    align-content: center;
}

